<mat-card>
    <mat-card-title>Novo Endereço</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Complemento" [(ngModel)]="endereco.complemento" name="complemento">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Número de residência" [(ngModel)]="endereco.numero" name="numero">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cidade" [(ngModel)]="endereco.cidade" name="cidade">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Estado" [(ngModel)]="endereco.estado" name="cidade">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cidade" [(ngModel)]="endereco.cidade" name="cidade">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cidade" [(ngModel)]="endereco.cidade" name="cidade">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="createEndereco()" color="primary">
        Salvar
    </button>
   
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>